In [6]:
import numpy as np
import pandas as pd

In [8]:
dataset = pd.read_csv('spam_ham_dataset.csv',sep=',', names=["label","message"])
dataset.head()

                                                          label    message
NaN    label                                               text  label_num
605.0  ham    Subject: enron methanol ; meter # : 988291\r\n...          0
2349.0 ham    Subject: hpl nom for january 9 , 2001\r\n( see...          0
3624.0 ham    Subject: neon retreat\r\nho ho ho , we ' re ar...          0
4685.0 spam   Subject: photoshop , windows , office . cheap ...          1